# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and local settings
*.log

# Backup files
*~
*.bak
*.swp

# Virtual environment
venv/
ENV/
env/

# System files
.DS_Store
Thumbs.db

# Output or temp files
output.txt
*.tmp

# IDE and editor folders
.vscode/
.idea/
